/**
 * Author:    Selena Hyon
 * Created:   Spring 2021
 *
 * Public Domain
 **/

/*horizontal parallax effect
--https://www.youtube.com/watch?v=OeaHnxahf40-- @RedStapler
 Pure CSS Horizontal Website Tutorial for Beginners*/

body {
  margin: 0;
  padding: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width:700vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one {
  background: url("img/pg1.png");
  background-size: auto 100vh;
  background-repeat: round;
  width: 700vw;
}
.two {
  background: url("img/pg2.png");
  background-size: auto 100vh;
  background-repeat: round;
  width:700vw;
}
.three {
  background: url("img/pg3.png");
  background-size: auto 100vh;
  background-repeat: round;
  width: 700vw;
}
.four {
  background: url("img/pg4.png");
  background-size: auto 100vh;
  background-repeat: round;
  width: 700vw;
}
.five {
  background: url("img/pg5.png");
  background-size: auto 100vh;
  background-repeat: round;
  width: 700vw;
}
.six {
  background: url("img/pg6.png");
  background-size: auto 100vh;
  background-repeat: round;
  width: 700vw;
}
.seven {
  background: url("img/pg7.png");
  background-size: auto 100vh;
  background-repeat: round;
  width: 700vw;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: #E7EDF3;
}
::-webkit-scrollbar {
  display:none;
}
/* Title Page */
#title{
  color: white;
  font: 50px;
  text-decoration: overline;
  text-align: center;
}
/* Navagation--Table of Contents */
#navPg{
  padding-top: 50px;
  font-size: 80px;
  text-align: center;
}
