
#tbTitle{
  text-align: center;
  font-size: 80px;
}

/* Borrow from Selena's silde6.css */
#table{
  cursor: url('../img/search.png'), auto;
}

#recipeHidden {
  margin-left:1350px;
  margin-top: -110px;
  border: 10px solid #eaf7d7;
  background-color: #FDFD96;
  border-radius: 8px;
  width: 460px;
 height: 780px;
 position: relative;
 text-align: center;
 visibility: hidden;
}

#foods{
  margin-left:440px;
  margin-top: 470px;
}


/* .recipeButton{
 background:transparent;
 border: none;
 color: transparent;
 padding: 30px 40px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 overflow: hidden;
 position: fixed;
} */

/* #found{
 margin-left:1365px;
 margin-top: 560px;
}
 .recipeInfo{
 margin-top: -15px;
 margin-left:1100px;
 text-decoration:none;
 font-family:Arial;
 box-shadow:inset #ffffff -5px 2px 12px -1px,#acc293 1px 5px 4px;
 o-box-shadow:inset #ffffff -5px 2px 12px -1px,#acc293 1px 5px 4px;
 -moz-box-shadow:inset #ffffff -5px 2px 12px -1px,#acc293 1px 5px 4px;
 -webkit-box-shadow:inset #ffffff -5px 2px 12px -1px,#acc293 1px 5px 4px;
 background:#eaf7d7;
 background:-o-linear-gradient(90deg, #eaf7d7, #e3f5d0);
 background:-moz-linear-gradient( center top, #eaf7d7 5%, #e3f5d0 100% );
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eaf7d7), color-stop(1, #e3f5d0) );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf7d7', endColorstr='#e3f5d0');
 background:-webkit-linear-gradient(#eaf7d7, #e3f5d0);
 background:-ms-linear-gradient(#eaf7d7, #e3f5d0);
 background:linear-gradient(#eaf7d7, #e3f5d0);
 text-indent:0px;
 line-height:26px;
 -moz-border-radius:14px;
 -webkit-border-radius:14px;
 border-radius:14px;
 text-align:center;
 vertical-align:middle;
 display:inline-block;
 font-size:20px;
 color:#acc293;
 width:360px;
 height:45px;
 padding:13px;
 border-color:#e3f5d0;
 border-width:1px;
 border-style:solid;
}
.recipeInfo:active {
 box-shadow:inset #ffffff -5px 2px 12px -1px,#acc293 1px 0 4px;
 o-box-shadow:inset #ffffff -5px 2px 12px -1px,#acc293 1px 0 4px;
 -moz-box-shadow:inset #ffffff -5px 2px 12px -1px,#acc293 1px 0 4px;
 -webkit-box-shadow:inset #ffffff -5px 2px 12px -1px,#acc293 1px 0 4px;
 position:relative;
 top:5px
}
.recipeInfo:hover {
 background:#e3f5d0;
 background:-o-linear-gradient(90deg, #e3f5d0, #eaf7d7);
 background:-moz-linear-gradient( center top, #e3f5d0 5%, #eaf7d7 100% );
 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e3f5d0), color-stop(1, #eaf7d7) );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3f5d0', endColorstr='#eaf7d7');
 background:-webkit-linear-gradient(#e3f5d0, #eaf7d7);
 background:-ms-linear-gradient(#e3f5d0, #eaf7d7);
 background:linear-gradient(#e3f5d0, #eaf7d7);
}
</style>
} */
/* #marketNav{
 margin-top:300px;
 margin-right: 600px;
 text-align: right;
}
#mkTitle{
 text-align: center;
} */
